<!DOCTYPE html>

<html lang="en">
<head>

    <!-- Meta -->
    <meta charset="utf-8">
    <meta name="keywords" content="HTML5 Template"/>
    <meta name="description" content="Special">
    <meta name="author" content="">

    <!-- Title -->
    <title>Treat from UK</title>

    <!-- Mobile Meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Favicon -->
    <link rel="shortcut icon" href="/favicon.png?v=3" type="image/x-icon">

    <!-- CSS -->
    <link href="/lib/bootstrap/css/bootstrap.css" type="text/css" rel="stylesheet"/>
    <link href="/lib/fontawesome/css/font-awesome.min.css" type="text/css" rel="stylesheet"/>
    <link href="/lib/magnific/magnific-popup.css" type="text/css" rel="stylesheet"/>
    <link href="/lib/slick/slick.css" type="text/css" rel="stylesheet"/>
    <link href="/lib/slick/slick-theme.css" type="text/css" rel="stylesheet"/>

    <link href="/css/allinone_carousel.css" type="text/css" rel="stylesheet"/>
    <link href="/css/bootstrap-select.css" type="text/css" rel="stylesheet"/>
    <link href="/css/font.css" type="text/css" rel="stylesheet"/>
    <link href="/css/colors.css" type="text/css" rel="stylesheet"/>
    <link href="/css/magnific-popup.css" type="text/css" rel="stylesheet"/>
    <link href="/css/main.css" type="text/css" rel="stylesheet"/>


    <!-- IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>

{% block content %}{% endblock %}

<!-- =============== Javascript =============== -->
<script type="text/javascript" src="/js/jquery.min.js"></script><!-- Jquery Library -->
<script type="text/javascript" src="/js/jquery-ui.min.js"></script>

<script type="text/javascript" src="/lib/bootstrap/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/lib/magnific/jquery.magnific-popup.min.js"></script>
<script type="text/javascript" src="/lib/slick/slick.min.js"></script>
<script type="text/javascript" src="/lib/countdown/jquery.countdown.min.js"></script>

<script type="text/javascript" src="/js/jquery.waypoints.min.js"></script>
<script type="text/javascript" src="/js/jquery.ui.touch-punch.min.js"></script>
<script type="text/javascript" src="/js/allinone_carousel.js"></script>
<script type="text/javascript" src="/js/carousel.js"></script>
<script type="text/javascript" src="/js/glio.min.js"></script>
<script type="text/javascript" src="/js/jquery.magnific-popup.js"></script>
<script type="text/javascript" src="/js/form-triger.js"></script>
<script type="text/javascript" src="/js/main.js"></script>

<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBueyERw9S41n4lblw5fVPAc9UqpAiMgvM&amp;"></script>
<script type="text/javascript" src="lib/snazzymap/snazzymap.js"></script>

</body>
