{% extends 'layout.html' %}
{% block content %}
<!-- =============== Header =============== -->
<header class="header-st-8">
    <div class="topbar3 sticky">
        <div class="container">
            <div class="row">
                <div class="col-md-2 col-sm-4 mobile-dis">
                    <div class="logo">
                        <a href="/">
                            <img src="/img/product-logo.png" alt="logo"/>
                        </a>
                    </div> <!-- ../logo -->
                </div>
                <div class="col-md-10 col-sm-12 col-xs-12">
                    <div class="menu-container clearfix">
                        <!-- Brand and toggle get grouped for better mobile display -->
                        <div class="nav-header mobile-show">
                            <button type="button" class="nav-toggle">
                                <i class="fa fa-bars"></i>
                            </button>
                            <div class="mobile-logo">
                                <a href="/">
                                    <img src="/img/product-logo.png" alt="logo"/>
                                </a>
                            </div> <!-- ../logo -->
                        </div>
                        <ul class="list-style-none menu pull-right">
                            <li><a href="#contact-us">Contact Us</a></li>
                        </ul>
                    </div><!-- ../menu-container -->
                </div>
            </div>
        </div>
    </div>
</header>
<div class="section-banner-st-6 banner-bg-6">
    <div id="of-home"class="banner-text">
        <div class="container">
            <div class="row well md-text-black">
                <ul class="nav nav-pills nav-justified">
                    <li class="nav-item of-nav-active">
                        <a class="nav-link md-text-white" href="#">1. Register</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">2. Make Payment</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">3. Shipping Details & Preferences</a>
                    </li>
                </ul>
            </div>
            <div class="row">
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <div class="row well md-mr-20 sm-mr-10">
                        <fieldset class="form-group">
                            <legend>A. Create an Account</legend>
                            <div class="form-group">
                                <label for="of-email" class="of-label">Email Address</label>
                                <input type="email" class="form-control" id="of-email"
                                       aria-describedby="emailHelp" placeholder="Enter email">
                            </div>
                            <div class="form-group">
                                <label for="of-password" class="of-label">Confirm Email</label>
                                <input type="password" class="form-control" id="of-password"
                                       placeholder="Confirm Email Address">
                            </div>
                        </fieldset>
                    </div>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <div class="row well">
                        <fieldset class="form-group">
                            <legend>B. Select your Subscription</legend>
                            <div class="col-md-6">
                                <div class="form-check">
                                    <label class="form-check-label of-label">
                                        <input type="radio" class="form-check-input"
                                               name="orderTypeOption" id="optionsRadios1"
                                               value="option1"
                                               checked>
                                         3 Months
                                    </label>
                                    <div class="well"></div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-check">
                                    <label class="form-check-label of-label">
                                        <input type="radio" class="form-check-input"
                                               name="orderTypeOption" id="optionsRadios2"
                                               value="option2">
                                         6 Months
                                    </label>
                                    <div class="well"></div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-check">
                                    <label class="form-check-label of-label">
                                        <input type="radio" class="form-check-input"
                                               name="orderTypeOption" id="optionsRadios3"
                                               value="option3">
                                        Trial Box
                                    </label>
                                    <div class="well"></div>
                                </div>
                            </div>
                        </fieldset>
                        <div class="well md-text-grey-600 text-center">
                            Free Shipping. Cancel Any Time. No Auto-Renew.
                        </div>
                    </div>
                    <div class="row well">
                        <fieldset class="form-group">
                            <legend>C. Make Payment</legend>

                            <div class="form-check">
                                <label class="form-check-label of-label">
                                    <input type="checkbox" class="form-check-input">
                                    Yes. I accept all Terms & Conditions
                                </label>
                            </div>
                            <div class="pm-button text-center md-pt-20">
                                <a id="payref" href="https://test.payumoney.com/paybypayumoney/#/1966">
                                    <img src="https://test.payumoney.com//media/images/payby_payumoney/buttons/132.png"/>
                                </a>
                            </div>
                        </fieldset>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<footer class="footer footer-st-8">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-sm-12 col-xs-12">
                <div class="ft-social-row">
                    <ul class="social-default social-icon">
                        <li>
                            <a href="https://www.instagram.com/treats_from_uk/">
                                <i class="fa fa-instagram"></i>
                            </a>
                        </li>
                        <li>
                            <a href="https://www.facebook.com/treatsfromuk/">
                                <i class="fa fa-facebook"></i>
                            </a>
                        </li>
                        <li>
                            <a href="https://twitter.com/treatsfromuk">
                                <i class="fa fa-twitter"></i>
                            </a>
                        </li>

                    </ul>
                </div>
            </div>
            <div class="col-md-8 col-sm-12 col-xs-12 text-right">
                <p class="ft-credits">&copy; 2017, All Rights Reserved, Treat From UK</p>
            </div>
        </div>
    </div>
</footer>
{% endblock %}

{% block scripts %}
<script type="text/javascript" src="/js/order.js"></script>
{% endblock %}