
{% extends 'layout.html' %}
{% block content %}
<!-- =============== Header =============== -->
<header class="header-st-8">
    <div class="topbar3 sticky">
        <div class="container">
            <div class="row">
                <div class="col-md-2 col-sm-4 mobile-dis">
                    <div class="logo">
                        <a href="/">
                            <img src="/img/product-logo.png" alt="logo"/>
                        </a>
                    </div> <!-- ../logo -->
                </div>
                <div class="col-md-10 col-sm-12 col-xs-12">
                    <div class="menu-container clearfix">
                        <!-- Brand and toggle get grouped for better mobile display -->
                        <div class="nav-header mobile-show">
                            <button type="button" class="nav-toggle">
                                <i class="fa fa-bars"></i>
                            </button>
                            <div class="mobile-logo">
                                <a href="/">
                                    <img src="/img/product-logo.png" alt="logo"/>
                                </a>
                            </div> <!-- ../logo -->
                        </div>
                        <ul class="list-style-none menu pull-right">
                            <li><a class="active" href="#home">Home</a></li>
                            <li><a href="#contact-us">Contact</a></li>
                            <li><a href="#" class="btn btn-8 btn-default">Order Now</a></li>
                        </ul>
                    </div><!-- ../menu-container -->
                </div>
            </div>
        </div>
    </div>
</header>
<main>

    <div class="pm-button"><a href="https://test.payumoney.com/paybypayumoney/#/1966"><img src="https://test.payumoney.com//media/images/payby_payumoney/buttons/132.png" /></a></div>
</main>


<footer class="footer footer-st-8">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-sm-12 col-xs-12">
                <div class="ft-social-row">
                    <ul class="social-default social-icon">
                        <li>
                            <a href="https://www.instagram.com/treats_from_uk/">
                                <i class="fa fa-instagram"></i>
                            </a>
                        </li>
                        <li>
                            <a href="https://www.facebook.com/treatsfromuk/">
                                <i class="fa fa-facebook"></i>
                            </a>
                        </li>
                        <li>
                            <a href="https://twitter.com/treatsfromuk">
                                <i class="fa fa-twitter"></i>
                            </a>
                        </li>

                    </ul>
                </div>
            </div>
            <div class="col-md-8 col-sm-12 col-xs-12 text-right">
                <p class="ft-credits">&copy; 2017, All Rights Reserved, Treat From UK</p>
            </div>
        </div>
    </div>
</footer>
<!-- =============== ../Footer =============== -->
{% endblock %}