{% extends 'layout.html' %}
{% block content %}
<!-- =============== Header =============== -->
<header class="header-st-8">
    <div class="topbar3 sticky">
        <div class="container">
            <div class="row">
                <div class="col-md-2 col-sm-4 mobile-dis">
                    <div class="logo">
                        <a href="/">
                            <img src="/img/product-logo.png" alt="logo"/>
                        </a>
                    </div> <!-- ../logo -->
                </div>
                <div class="col-md-10 col-sm-12 col-xs-12">
                    <div class="menu-container clearfix">
                        <!-- Brand and toggle get grouped for better mobile display -->
                        <div class="nav-header mobile-show">
                            <button type="button" class="nav-toggle">
                                <i class="fa fa-bars"></i>
                            </button>
                            <div class="mobile-logo">
                                <a href="/">
                                    <img src="/img/product-logo.png" alt="logo"/>
                                </a>
                            </div> <!-- ../logo -->
                        </div>
                        <ul class="list-style-none menu pull-right">
                            <li><a href="/">Home</a></li>
                        </ul>
                    </div><!-- ../menu-container -->
                </div>
            </div>
        </div>
    </div>
</header>
<div class="section-banner-order banner-bg-6">
    <div class="container">
        <div class="row well md-text-black">
            <h2>Corporate, Festive or Event Gifts</h2>
            <p class="md-text-grey-600">We offer customized Treat Boxes for orders over 20 boxes.</p>
        </div>
        <div class="row well">
            <div class="container">
                <p>Please fill the below form and we will get back to you in 48 hours</p>
                <br>
                <div id="contact_div" class="contact-box text-center">
                    <form id="contact_form2" class="dv-form" dv-service="dvmailchimp">
                        <div class="row">
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <div class="form-group">
                                    <input type="text" name="name" id="name" class="form-control"
                                           placeholder="Full Name">
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <div class="form-group">
                                    <input type="email" name="email" id="email" class="form-control"
                                           placeholder="Email" required="true">
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <div class="form-group">
                                    <input type="text" name="qty" id="qty" class="form-control"
                                           placeholder="Quantity (Min 20)" required="true">
                                </div>
                            </div>
                            <div class="col-md-12 col-xs-12">
                                <div class="form-group">
                                    <textarea name="message" id="message"
                                              placeholder="Enter any further details here"
                                              class="form-control" required="true"></textarea>
                                </div>
                            </div>
                            <div class="col-md-12 col-xs-12">
                                <input type="submit" value="Send Now" class="btn btn-8 btn-default"
                                       id="submit_btn2">
                            </div>
                        </div>
                    </form>
                    <div id="contact_results"></div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block scripts %}
{% endblock %}